{% extends "layout.html.j2" %}

{% block title %} Minimal Flask Table {% endblock %}

{% block body %}

<h1>Welcome!</h1>

<p>Hello! You've found the "minimal flask examples" website. Click on any of the links below to view the appropriate example.</p>
<ol>
    <li><a href="/df">Render pandas DataFrame wholesale.</a></li>
    <li><a href="/dfcustom">Render pandas DataFrame row by row.</a></li>
    <li><a href="/bokehplot">Display an embedded Bokeh chart.</a></li>
    <li><a href="/textpage">Display a page with a text box.</a></li>
</ol>

<style>
  textarea {
  width: 100%;
  height: 200px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  }
</style>
<form method="POST">
  <textarea name="textbox"></textarea>
  <button type="submit" name="submit">Submit</button>
</form>

{% endblock %}
